/**
 *	Versión 1.0.0
 */
@charset "utf-8";

/**
 *	Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/**
 *	Mobile
 */

/**	General */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
	font-size: 10px;
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

/**	Body */
body {
	background-color: #134F5C;
	color: #D0E0E3;
}

/**	Header */
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2em;
}

/**	Encabezados */
h1,
h2,
h3 {
	font-family: 'Montserrat';
	font-size: 3.6em;
	line-height: 1.5;
	font-weight: 700;
	text-align: center;
}

h2,
h3 {
	margin: 1em 0;
	font-size: 3em;
	color: #134F5C;
}

/**	Main */
main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 4em 2em;
	background-color: #FFF;
}

ul, ol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	align-items: flex-start;
	width: 100%;
}

p,
ul li,
ol li {
	font-size: 2.4em;
	line-height: 1.5;
	text-align: left;
	color: #134F5C;
}

ul li,
ol li {
	margin-left: 2em;
}

p strong,
p em,
p span,
p a,
ul li strong,
ul li em,
ul li a,
ol li strong,
ol li em,
ol li a {
	font-size: 1em;
}

p a,
ul li a,
ol li a {
	color: #134F5C;
}

p strong,
ul li strong,
ol li strong {
	font-weight: 700;
}

p em,
ul li em,
ol li em {
	font-style: italic;
}


form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

label {
	font-size: 2.4em;
	line-height: 1.5;
	text-align: left;
	color: #134F5C;
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: .5em 0;
	padding: 1em 2em;
}

legend {
	padding: 0 .5em;
	font-size: 1.6em;
	line-height: 1.5;
	font-weight: 400;
	text-align: left;
	color: #134F5C;	
}

input {
	margin: .5em 0;
	border: 1px solid #134F5C;
	border-radius: .5em;
	padding: 0 1em;
	font-size: 2.4em;
	line-height: 1.5;
	text-align: left;
	color: #134F5C;
}

button,
input[type=button],
input[type=submit] {
	margin: .5em 0;
	border: none;
	border-radius: .5em;
	padding: .25em .5em;
	background: #134F5C;
	cursor: pointer;
	font-size: 2.4em;
	line-height: 1.5;
	text-align: center;
	color: #D0E0E3;
}

input[type=button]:disabled,
input[type=submit]:disabled {
	opacity: .8;
	cursor: not-allowed;
}

form textarea {
	margin: .5em 0;
	border-radius: .5em;
	border: 1px solid #134F5C;
	padding: 0 .5em;
	background: #D0E0E3;
	font-size: 1.6em;
	line-height: 1.5;
	font-weight: 400;
	text-align: left;
	color: #134F5C;
}

form select {
	margin: .5em 0;
	border-radius: .5em;
	border: 1px solid #134F5C;
	padding: 0 .5em;
	background: #D0E0E3;
	font-size: 1.6em;
	line-height: 1.5;
	font-weight: 400;
	text-align: left;
	color: #134F5C;	
}

hr {
	margin: 1em 0%;
	width: 100%;
	height: .1em;
}

/**	Footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 2em;
	
}

footer ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	list-style: none;
}

footer ul li {
	font-family: 'Montserrat';
	font-size: 1.4em;
	line-height: 1.5;
	text-align: center;
	color: #D0E0E3;
}

footer ul li a {
	font-family: 'Montserrat';
	font-size: 1em;
	text-decoration: none;
	color: #D0E0E3;
}

/**	Overs */
p a:hover,
li a:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
	opacity: .8;
}

/**	Carrito */
#minicarrito {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: .5em 1em;
	width: 100%;
	background: rgba(19,79,92,.25)
}

#productos {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 1em 0;
	width: 100%;
	padding: 1em;
	background: rgba(19,79,92,.25);
}

#productos div {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 90%;
	padding: 1em;
}

#productos img {
	width: 90%;
	margin: 1em 5%;
}

#productos div div {
	padding: 0;
}

#productos h3,
#productos p {
	margin: 0;
	text-align: center;
}

.modal {
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.9);
}

.modal a {
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 1em;
	right: 1em;
	border-radius: 2.5em;
	width: 5em;
	height: 5em;
	background-color: rgba(255,255,255,.9);
	font-size: 1em;
	font-weight: 400;
	text-align: center;
	color: #1A4A5E;
	text-decoration: none;
}

.modal a:hover {
	background-color: #1A4A5E;
	color: rgba(255,255,255,.9);
}

.modal img {
	height: 30%;
}

.modal h3, .modal p, .modal li {
	margin: 0;
	text-align: center;
	color: #D0E0E3;
}

.modal li {
	display: flex;
	justify-content: space-around;
	margin: .25em 0;
	width: 90%;
}

.modal li span {
	font-size: 1em;
}

/**
 *	Web
 */
@media screen and (min-width: 960px) {

	#productos {
		flex-direction: row;
	}

	#productos div {
		width: 30%;
	}

	/**	Footer */
	footer ul {
		flex-direction: row;
	}

}