.lm-modal>.lm-modal-title>div:nth-child(2) {
    font-size: 2.3rem;
}

#modal-contenido {
    padding: 20px;
    text-align: center;
}

#modal-contenido img {
    max-width: 60%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
}

#modal-contenido h3 {
    font-size: 2.25rem;
}

#modal-producto .modal-descripcion {
    display: flex;
    justify-content: space-between;
}

#modal-producto :is(.modal-text, .modal-precio) {
    font-size: 1.8rem;
}

#modal-producto .modal-precio {
    font-weight: bold;
    color: #2ecc71;
}